@import url(https://fonts.googleapis.com/css?family=Montserrat);

html, body {
    margin: 0;
    padding: 0;

}

body {
    background-color: #aefdff;
    font-family: Montserrat, Helvetica, sans-serif;
    font-size: 10px;
}

.container {
    background-color: hotpink;
    height: 100vh;
    width: 100%;
}

.img-container {
    text-align: center;
}

.img-container img {
    height: 100vh;
}



.form-container {
    margin: 10vh auto 10vh auto;
    height: calc(80vh - 6em);
    width: 30vw;
    font-size: 1.4em;
    padding: 3em;
    background-color: white;
}



