<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>title</title>
  <link rel="stylesheet" href="../styles/reset.css" type="text/css">
  <link rel="stylesheet" href="../styles/main.css" type="text/css">
</head>
<body>

<script>
  //A very hacky way to return the information from the Pinterest OAUTH. The OAUTH wouldn't reroute to a url with an octothorp (#)
  //in it. Without running this program on a server, and using html5Mode, I found the best workaround was to create a page
  //that doesn't have angular running on it, and have the OAUTH route to this page, then have the page automatically call
  //the preferred page. I'm so sorry :(
  var path = window.location.href.split('?');
  window.location = 'https://screensaver.netlify.com/index.html#!/select-screen?' + path[1];
</script>

<section class="form-container" >
  <form>
    Select time per image <input type="text" id="seconds">
    <select class="users-pins">
    </select><br />
    <input class="user-submit" type="submit" value="Submit">
  </form>
</section>

</body>
</html>
