
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>title</title>
  <link rel="stylesheet" href="../styles/reset.css" type="text/css">
  <link rel="stylesheet" href="../styles/main.css" type="text/css">
</head>
<body>

<script>
  var path = window.location.href.split('?');
  window.location = 'https://pinterest-screensaver.bitballoon.com/index.html#/select-screen?' + path[1];

</script>

<section class="form-container" >
  <form>
    Select time per image <input type="text" id="seconds">
    <select class="users-pins">
    </select><br />
    <input class="user-submit" type="submit" value="Submit">
  </form>
</section>

</body>
</html>