<section ng-controller="displayBoardCtrl as board">

  <style>
    body {
      background: #f1f5f6;
    }
  </style>

  <div class="display-options">
    <p class="reset" ng-click="board.reset()">Reset</p>
    <p class="pause" ng-click="board.stop()" ng-show="board.paused === false">II</p>
    <p class="play" ng-click="board.start()" ng-show="board.paused === true">&#9658;</p>
    {{board.paused}}
    <p>{{(board.counter + 1)  + "/" + board.pins.length}}</p>
  </div>

  <section class="board-container" ng-style="{height: board.pins[board.counter].image.original.height}">
    <div class="img-container" ><img ng-src="{{board.pins[board.counter].image.original.url}}" /></div>
  </section>

</section>
