<section class="sign-on-container" >

  <section class="about-text">
    <p>
      This is a program that creates a scrolling "screensaver" of your
      Pinterest pins, in your browser.<br />
      <br />
      Start by linking your Pinterest account by clicking the button!<br />
      <br />
      If you don't have an account, use this one - username: pinterest.app.test@gmail.com
      password: Pinterest8
    </p>
  </section>

  <a class="user-permission" href="https://api.pinterest.com/oauth/?response_type=code&redirect_uri=https://www.cashbasket.xyz/public/templates/app.authorized.html&code=:code/&client_id=4843083155244066954&scope=read_public&state=appconnected" title="Connect app to Pinterest.">
    Connect your Pinterest
  </a>
</section>
